// -----------------------------------------------------------------------------
// This file contains all mixins
// -----------------------------------------------------------------------------

@mixin flexCenter($aligned, $direction) {
	display: flex;
	justify-content: center;
	align-items: $aligned;
	flex-direction: $direction;
}

@mixin dropcap() {
	float: left;
	font-size: 7rem;
	line-height: 7rem;
	padding: 0 var(--padding);
	color: var(--color-4-normal);
}
