// -----------------------------------------------------------------------------
// This file contains all header styles
// -----------------------------------------------------------------------------

#siteHeader {
	display: block;
	background: var(--color-2-normal);
}

nav {
	background: var(--color-1-gray);
}
