// 1. Configuration and helpers
@import "partials/abstracts/variables", "partials/abstracts/mixins";

// 2. Base stuff
@import "partials/base/base", "partials/base/fonts", "partials/base/typography", "partials/base/helpers";

// 3. Layout-related sections
@import "partials/layout/header", "partials/layout/footer";

// 4. Components
@import "partials/components/button";
